name: SAM Delete
on:
  workflow_dispatch:
jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
      - name: Set up JDK 8
        uses: actions/setup-java@v3
        with:
          java-version: 8
          distribution: 'adopt'
      - name: Set Up Python
        uses: actions/setup-python@v2
      - name: Set up AWS SAM
        uses: aws-actions/setup-sam@v1
      - name: Set up AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}
      - name: Run SAM Build
        run: sam build -t sam.template.yaml
      - name: Run SAM Delete
        run: sam delete --no-prompts --stack-name weather-tracker-java-rds-lambda --region ${{ secrets.AWS_REGION }}
